{% extends "base.html" %}
<!-- the form for add account and password -->
{% block css %}
    {% load staticfiles %}
    <link href="{% static 'style/account_form.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block mainbody %}

<ul id="quik_jump">
    <li class="change_host_li"><a href="/hostinfo/addaccount/">Add Account</a> </li>
    <li class="change_host_li"><a href="/hostinfo/delaccount/">Delete Account</a> </li>
    <li class="change_host_li"><a href="/hostinfo/upaccount/">Change Account</a> </li>
</ul>

{% if status %}
        <p style="color: red">{{ status }}</p>
{% endif %}
    <br><br>
    <h4 style="color:green" >Please Input Follow Info</h4>
    <form id="addaccount_form" method="post" action="/hostinfo/addaccount/">
            {% csrf_token %}
        <table>
        <tr>
            <td class="show_name"> Host Name: </td> 
            <td> <input class="left" type="text" name="host_name"></td>
            <td class="show_name">Account Type: </td> 
            <td>
                <select name="account_type" id="account_type">
                    <option value="os" selected="selected">OS</option>
                    <option value="mysql" >MySQL</option>
                    <option value="redis" >Redis</option>
                    <option value="tomcat" >Tomcat</option>
                    <option value="nginx" >Nginx</option>
                    <option value="others" >Others</option>
                </select>
            
            </td>
        </tr>
        <tr>
            <td class="show_name">Account Name: </td>
            <td><input class="left" type="text" name="account_name"></td>
            <td class="show_name">Account Password: </td> 
            <td><input class="right" type="text" name="account_passwd"></td>
        </tr>
        <tr>
            <td class="show_name">Account Comment:  </td>
            <td> <input class="left" type="text" name="account_comment"></td>
        </tr>
        </table>
       
        <p>
            <input style="margin-left: 35px; font-size: 20px" type="submit" value="Submit">
        </p>
    </form>


{% endblock %}