{% extends "base.html" %}


{% block mainbody %}
	<ul id="change_host_ul">
		<li class="change_host_li"><a href="/hostinfo/insert/">新增主机</a> </li>
		<li class="change_host_li"><a href="/hostinfo/delete/">删除主机</a> </li>
		<li class="change_host_li"><a href="/hostinfo/update/">修改主机</a> </li>

	</ul>
	<table id="maintable">
		<tr>
			<th>主机名</th>
			<th>业务IP</th>
			<th>承载网IP</th>
			<th>管理IP</th>
			<th>存储IP</th>
			<th>操作系统</th>
			<th>机器类型</th>
			<th>机器状态</th>
			<th>所属项目</th>
		</tr>
		{% for row in row_list %}
			<tr>
				{% for field in row %}
					<td ondblclick="show_detail(this)" >{{ field }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>

	<script>
		function show_detail(self){
			if( self.parentElement.firstElementChild == self ){
				// alert(self.innerHTML)
				window.location = "/hostinfo/detail?host_name="+ self.innerHTML
			}
			
		}
		// document.getElementById("maintable").parentElement.firstElementChild
	</script>

{% endblock %}