body{
	margin: 0px;
	font-family: Arial;
	font-size: 13px;
}

#container{
	position: relative;
	width: 100%;
}

#banner{
	height: 60px;
	text-align: center;
	background-color: #a2d9ff;
	padding: 10px;
	font-size: 30px;
}

#left_bk{
	background-color: #E6E6FA;
	float: left;
	font-size: 20px;
	margin-left: 0px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 5px;
	height: 800px;
}

#main{
	padding-left: 10px;
	padding-top: 15px;
	font-size: 20px;
}

#links {
	padding: 0px;
	margin: 0px;
}

#links a{
	text-decoration: none;
}


#links li{
	height: 35px;
	list-style: none;
	padding-left: 6px;
	margin-left: 0px;
}
#links a:link{
	color: #005799;
	text-decoration: none;
}
#links a:visited{
	color: #000000;
	text-decoration: none;
}
#links a:hover{
	color: #ffff00;
	text-decoration: underline;
}

#maintable tr, #maintable th, #maintable td{
			border: 1px solid #00BFFF;
			font-family: Arial;
			border-collapse: collapse;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
}