
/*----------------- for add_cap_form.html ---------------------------*/

#quik_jump{
    margin: 50px;
}

#quik_jump li{
    float: left;
    list-style: none;
    font-size: 25px;
    margin-right: 100px;
    margin-left: 100px;
}
#quik_jump li a:link{
    color: #005799;
    text-decoration: none;
}
#quik_jump li a:visited{
    color: #000000;
    text-decoration: none;
}
#quik_jump li a:hover{
    color: #a9c73c;
    text-decoration: underline;
}



.show_name{
    text-align: right;
}
#addcap_form td{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
}
#addcap_form tr{
    height: 40px;
}
#addcap_form td input{
    width: 300px;
    height: 25px;
}
#addcap_form td select{
    width: 305px;
    height: 30px;
    padding: 0px;
}

/*---------------------- for update_cap_form.html --------------------------------*/

#select_cap, #cap_data{
    border: #000000 1px solid;
    margin: 20px;
    width: 100%;
}

#select_cap td, #cap_data td{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
}
#select_cap tr, #cap_data tr{
    height: 40px;
}
#select_cap td input, #cap_data td input{
    width: 300px;
    height: 25px;
}
#select_cap td select, #cap_data td select{
    width: 305px;
    height: 30px;
    padding: 0px;
}

.change_cap_btn {
    margin: 50px;
}
