
/*----------------- for add_hwspec_form.html ---------------------------*/

#quik_jump{
    margin: 50px;
}

#quik_jump li{
    float: left;
    list-style: none;
    font-size: 25px;
    margin-right: 100px;
    margin-left: 100px;
}
#quik_jump li a:link{
    color: #005799;
    text-decoration: none;
}
#quik_jump li a:visited{
    color: #000000;
    text-decoration: none;
}
#quik_jump li a:hover{
    color: #a9c73c;
    text-decoration: underline;
}



.show_name{
    text-align: right;
}
#addhw_form td{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
}
#addhw_form tr{
    height: 40px;
}
#addhw_form td input{
    width: 300px;
    height: 25px;
}
#addhw_form td select{
    width: 305px;
    height: 30px;
    padding: 0px;
}

/*---------------------- for update_hwspec_form.html --------------------------------*/

#select_host, #hw_data{
    border: #000000 1px solid;
    margin: 20px;
    width: 100%;
}

#select_host td, #hw_data td{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
}
#select_host tr, #hw_data tr{
    height: 40px;
}
#select_host td input, #hw_data td input{
    width: 300px;
    height: 25px;
}
#select_host td select, #hw_data td select{
    width: 305px;
    height: 30px;
    padding: 0px;
}

.change_hw_btn {
    margin: 50px;
}
