<!DOCTYPE html>
<html>
<head>
	<title>infra主页</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="base.css" />
	<style type="text/css" ></style>
</head>
<body>
<div id="container">
	<div id="banner">
		hell world
	</div>
	<div id="left_bk">
		<ul id="links">
			<li> <a href="#">主页</a> </li>
			<li> <a href="#">网络设备</a> </li>
			<li> <a href="#">存储设备</a> </li>
			<li> <a href="#">防火墙</a> </li>
			<li> <a href="#">负载均衡器</a> </li>
		</ul>
	</div>

	<div id="main">
		asajsasasakksaksaksak
		
	</div>
			
</div>

</body>
</html>